<!--&lt;!&ndash;<h1>Hello World</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>&ndash;&gt;-->
<!--&lt;!&ndash;<app-panel>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container class="heading">&ndash;&gt;-->
<!--&lt;!&ndash;      Heading&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container class="body">&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Body</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>Some content Here</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;</app-panel>&ndash;&gt;-->

<!--&lt;!&ndash;================================Beginning of directives===============================&ndash;&gt;-->
<!--&lt;!&ndash;courses.length > 0&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container m-5">&ndash;&gt;-->
<!--&lt;!&ndash;  <div *ngIf="doWeHaveAnyCourses(); then courseList else blogNoCourses"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template #courseList>&ndash;&gt;-->
<!--&lt;!&ndash;    List of Courses&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-template #blogNoCourses>&ndash;&gt;-->
<!--&lt;!&ndash;    No courses yet&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;============ Another approach of displaying divs according to a condition using ngif method&ndash;&gt;-->

<!--&lt;!&ndash;<div [hidden]="noCourses()">&ndash;&gt;-->
<!--&lt;!&ndash;  List of courses&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div [hidden]="doWeHaveAnyCourses()">&ndash;&gt;-->
<!--&lt;!&ndash;  No courses yet&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="container">-->
<!--  <h2>Displaying items using ngFf else statements</h2>-->
<!--  <div *ngIf="gender.length > 0; then list else noList" > </div>-->

<!--  <ng-template #list>-->
<!--    <h1>  List of all genders</h1>-->
<!--  </ng-template>-->

<!--  <ng-template #noList>-->
<!--    <h2>No list of genders</h2>-->
<!--  </ng-template>-->
<!--</div>-->
<!--<hr>-->
<!--&lt;!&ndash;==================================================================ng switch case&ndash;&gt;-->
<!--&lt;!&ndash;active btn btn-primary text-muted m-2&ndash;&gt;-->

<!--<div class="container">-->
<!--  <h2>Displaying items using ngSwitch case</h2>-->
<!--  <ul class="nav nav-pills">-->
<!--    <li [class.active]="viewMode === 'map'"><a (click)=" viewMode = 'map' ">Map View</a></li>-->
<!--    <li [class.active]="viewMode === 'list'"><a (click)=" viewMode = 'list' ">List View</a></li>-->
<!--  </ul>-->
<!--  <div [ngSwitch]="viewMode">-->
<!--    <div *ngSwitchCase="'map'">Map View Content</div>-->
<!--    <div *ngSwitchCase="'list'">List View Content</div>-->
<!--    <div *ngSwitchDefault>Otherwise</div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--  <div class="container">-->
<!--    <div class="container-fluid">-->
<!--      <ul class="nav nav-pills">-->
<!--        <li [class.active]="ageMode === 'under'"><a (click)="ageMode = 'under'">Under 18</a></li>-->
<!--        <li [class.active]="ageMode === 'below'"><a (click)="ageMode = 'below'">Below 18</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div [ngSwitch]="ageMode">-->
<!--      <div *ngSwitchCase="'under'">No allowed into the club</div>-->
<!--      <div *ngSwitchCase="'below'">Allowed into the club</div>-->
<!--      <div *ngSwitchDefault>Stated your age</div>-->
<!--    </div>-->
<!--  </div>-->



<!--&lt;!&ndash;==================================================================ngFor method to display items&ndash;&gt;-->

<!--<hr>-->
<!--<div class="container">-->
<!--  <h2 class="m-3">Displaying items using ngFor method and using person.push method to add an item to an Array</h2>-->
<!--  <ul class="list-group-item">-->
<!--    <button (click)="onAdd()" class="btn btn-primary m-3">Add Person</button>-->
<!--    <li class="list-group-item" *ngFor="let people of names; odd as isEven">-->
<!--      {{ people.name }}-->
<!--      <button (click)="onChange(people)" class="btn btn-secondary ">UPDATE</button>-->
<!--      <button (click)="onRemove(people)" class="btn btn-danger ">Remove</button>-->
<!--      &lt;!&ndash;<span *ngIf="isEven">(ODD)</span>&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


<!--&lt;!&ndash;==================================================================ngFor method to load items&ndash;&gt;-->

<!--<div class="container">-->
<!--  <button (click)="loadNames()">Load Names of the People</button>-->
<!--  <ul>-->
<!--    <li *ngFor="let people of names; trackBy: trackBy">-->
<!--      {{people.name}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


<!--&lt;!&ndash;==================================================================ng styles method to load items&ndash;&gt;-->

<!--<div class="container">-->
<!--  <button-->
<!--    [ngStyle]="{-->
<!--    'backgroundColor': canSave ? 'blue' : 'gray',-->
<!--    'color': canSave ? 'white' : 'black',-->
<!--    'fontWeight': canSave ? 'bold' : 'normal'-->
<!--    }"-->
<!--  >-->
<!--    Save-->
<!--  </button>-->
<!--</div>-->


<!--&lt;!&ndash;==================================================================Safe Traversal Operator============&ndash;&gt;-->

<!--<div class="container m-5">-->
<!--  <span>{{ task.assignee?.name }}</span>-->
<!--</div>-->


<!--&lt;!&ndash;==================================================================Creating Custom Directives============&ndash;&gt;-->

<!--<div class="container">-->
<!--  <input type="text" appInputFormat>-->
<!--</div>-->

<!--======================================= Building bootstrap Forms ===========================================-->

<!--<contact-form></contact-form>-->


<!--======================================= Building Reactive bootstrap Forms ===========================================-->

<app-signup-form></app-signup-form>

